@model IEnumerable<WebApplication1.Models.Employee>
@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <div class="row">
        <div class="col-8 offset-2">
        <h1> Employee Record</h1>    
        
        </div>
    </div>
</div>
